$primary-color: #010012;
$secondary-color: #fcaf25;
$secondary-color-darken: #e09e23;
$secondary-color-lighten: #ffb428;

$black: black;
$white: white;

// SIZE CHART

$mobile         : 480px;
$tablet         : 736px;
$netbook        : 980px;
$notebook       : 1280px;
$large          : 1690px;
